# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Cloud v2
site_url: https://cloud.incendo.org/
repo_url: https://github.com/incendo/cloud-docs
repo_name: cloud-docs
edit_uri: edit/main/docs/
nav:
  - Cloud:
      - Cloud: index.md
      - "Cloud v2": cloud-v2.md
      - "Cloud v1 docs": https://github.com/Incendo/cloud/tree/1.9.0-dev/docs
  - cloud-core:
      - cloud-core: core/index.md
  - cloud-annotations:
      - cloud-annotations: annotations/index.md
  - cloud-kotlin:
      - cloud-kotlin: kotlin/index.md
      - annotations: kotlin/annotations.md
      - coroutines: kotlin/coroutines.md
      - extensions: kotlin/extensions.md
  - cloud-discord:
      - cloud-discord: discord/index.md
      - cloud-discord4j: discord/discord4j.md
      - cloud-javacord: discord/javacord.md
      - cloud-jda: discord/jda.md
      - cloud-jda5: discord/jda5.md
      - cloud-kord: discord/kord.md
  - cloud-minecraft:
      - cloud-minecraft: minecraft/index.md
      - cloud-brigadier: minecraft/brigadier.md
      - cloud-minecraft-extras: minecraft/minecraft-extras.md
      - cloud-bukkit: minecraft/bukkit.md
      - cloud-paper: minecraft/paper.md
      - cloud-velocity: minecraft/velocity.md
      - cloud-bungee: minecraft/bungee.md
      - cloud-cloudburst: minecraft/cloudburst.md
      - cloud-sponge: minecraft/sponge.md
      - cloud-fabric: minecraft/fabric.md
      - cloud-neoforge: minecraft/neoforge.md
  - cloud-spring:
      - cloud-spring: https://github.com/incendo/cloud-spring
  - cloud-processors:
      - confirmation: https://github.com/Incendo/cloud-processors/tree/master/cloud-processors-confirmation
      - cooldown: https://github.com/Incendo/cloud-processors/tree/master/cloud-processors-cooldown
      - requirements: https://github.com/Incendo/cloud-processors/tree/master/cloud-processors-requirements
  - Other:
      - cloud-irc: other/irc.md
theme:
  name: material
  features:
    # - navigation.instant
    # - navigation.instant.prefetch
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  favicon: assets/images/favicon.png
  logo: assets/images/favicon.png
markdown_extensions:
  - toc:
      permalink: "#"
  - smarty
  - admonition
  - tables
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: false
      fallback_to_build_date: true
extra:
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
