# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Cloud v2
site_url: https://cloud.incendo.org/
repo_url: https://github.com/incendo/cloud-docs
repo_name: cloud-docs
edit_uri: edit/main/docs/
nav:
  - Cloud:
      - Cloud: index.md
      - Changelog: cloud-v2.md
      - Core: core/index.md
      - Localization: localization/index.md
  - Annotations:
      - Annotations: annotations/index.md
  - Kotlin:
      - Kotlin: kotlin/index.md
      - Annotations: kotlin/annotations.md
      - Coroutines: kotlin/coroutines.md
      - Extensions: kotlin/extensions.md
  - Discord:
      - Discord: discord/index.md
      - Discord4J: discord/discord4j.md
      - "Javacord ⮺": https://github.com/Incendo/cloud-discord/tree/master/cloud-javacord
      - "JDA ⮺": https://github.com/Incendo/cloud-discord/tree/master/cloud-jda
      - JDA5: discord/jda5.md
      - Kord: discord/kord.md
  - Minecraft:
      - Minecraft: minecraft/index.md
      - Brigadier: minecraft/brigadier.md
      - "Minecraft Extras": minecraft/minecraft-extras.md
      - Platforms:
          - Bukkit: minecraft/bukkit.md
          - Paper: minecraft/paper.md
          - Velocity: minecraft/velocity.md
          - Bungee: minecraft/bungee.md
          - Cloudburst: minecraft/cloudburst.md
          - Sponge: minecraft/sponge.md
      - Modded Minecraft:
          - cloud-minecraft-modded: minecraft/modded/index.md
          - Fabric: minecraft/modded/fabric.md
          - NeoForge: minecraft/modded/neoforge.md
  - Spring:
      - spring: spring/index.md
  - Processors:
      - Processors: processors/index.md
      - Confirmation: processors/confirmation.md
      - Cooldown: processors/cooldown.md
      - Requirements: processors/requirements.md
  # - Misc:
  #    - irc: other/irc.md
  - "Legacy Docs ⮺": https://github.com/Incendo/cloud/tree/1.9.0-dev/docs
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.footer
    # - navigation.expand
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  favicon: assets/images/favicon.png
  logo: assets/images/favicon.png
markdown_extensions:
  - toc:
      permalink: "#"
  - smarty
  - admonition
  - tables
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      base_path:
        - "./code/src/main/java/org/incendo/cloud/snippet/"
      check_paths: true
  - attr_list
  - md_in_html
plugins:
  - search
  - macros:
      include_yaml:
        - version: versions.yml
  - git-revision-date-localized:
      enable_creation_date: false
      fallback_to_build_date: true
#  - git-committers:
#      repository: incendo/cloud-docs
#      branch: main
extra:
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  analytics:
    provider: google
    property: G-4R7HH5TMGT
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/incendo
    - icon: fontawesome/brands/discord
      link: https://discord.gg/aykZu32
copyright: >
  Copyright &copy; 2024 Incendo –
  <a href="#__consent">Change cookie settings</a>
watch:
  - code
